**/*.aux
**/*.bcf
**/*.fdb*
**/*.ver
**/*.log
**/*.hst
**/*.fls
**/*.xml
**/*.toc
**/*.synctex.gz
**/*.bbl
**/*.blg
**/*.lot
**/*.lof

*.pdf

**/*.drawio.pdf
**/*.drawio.pageindex
**/*.drawio.resolverpath
**/drawio.check
